extends ../layout
block content
        link(rel='stylesheet', type='text/css', href='/css/drag.css')
        script(type='text/javascript', src='/js/lib/drag.js')
        section.main.clearfix.mi
            section.top
                .wrapper.content_header.clearfix
                    .work_nav
                       // ul.btn.clearfix
                           // li
                                //a.previous(href='inner/#{data._id}', data-title='Previous')
                           // li
                               // a.grid(href='/blog', data-title='Portfolio')
                            //li
                                //a.next(href='inner/#{data._id}', data-title='Next')
                    // end work_nav
                    h1.title #{data.title}
            // end top
            section.wrapper
                div.content(sid="#{data._id}")

                each  item in data.comment
                    .talk_box
                        .title_box
                            div.nolz
                            img(src='#{item.img}')
                            h1 #{item.lou}楼
                            h3.nickName #{item.nickName}
                            .time_box
                                p.time #{item.time}
                                a.relpy(lou="#{item.lou}") 回复
                        .message.clearfix
                            | #{item.message}
                    each i in item.reply
                        .talk_box_s
                            .title_box
                                div.nolz
                                img(src='#{i.img}')
                                h3.nickName #{i.nickName}
                                .time_box
                                    p.time #{i.time}
                            .message.clearfix
                                | #{i.message}
                form#form_reply(action='')
                    h4  发表评论
                    label(for='nikeName')
                        | 昵称
                        span.required *
                    input#nikeName(name='nikeName', type='text', value='', placeholder='请输入你的昵称', size='30', aria-required='true')
                    #drag
                    textarea#comment(name='comment', cols='100', rows='10', placeholder='有什么想说的？尽情说吧', maxlength='500', aria-required='true')
                    input.submit(type='button', value='发表评论')
            script(type='text/javascript', src='/js/inner.js')
